body {
  background-color: #212121;
}

div.container-home {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-count: 4;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  margin: auto;
  /* column-count: 3; */
}

.fade {
  position: relative;
  height: 3.6em; /* exactly three lines */
}
.fade:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 50%
  );
}
