@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed|Anton|Staatliches&display=swap");

body {
  background-color: #212121;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
}

.navbar-top {
  padding: 0;
}

.sub-header {
  padding-left: 10px;
  margin: 1px;
}

.brand {
  font-family: "Anton", sans-serif;
  padding-left: 10px;
  font-size: 4rem;
  margin: auto;
}

div.container-home {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-row-gap: 10px;
  grid-column-gap: 5px;
  margin: auto;
  /* column-count: 3; */
}

.loader {
  color: #fff;
  font-family: "Segoe UI Light", Tahoma, Geneva, Verdana, sans-serif;
}

.load-container {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fade {
  position: relative;
  height: 3.6em; /* exactly three lines */
}
.fade:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 50%
  );
}

.c-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 5px;
  margin: 0;
}

.c-title {
  margin: 0;
  font-size: 1rem;
}

.backdrop {
  position: relative;
  text-align: center;
  color: #fff;
}

.backdrop-img {
  width: 100%;
  /* clip-path: inset(6vw 0px 0px 0px); */
  filter: brightness(80%);
}

.backdrop-title {
  font-family: "Staatliches", cursive;
  font-size: 5vw;
  position: absolute;
  bottom: 20px;
  left: 16px;
}

.backdrop-desc {
  position: absolute;
  bottom: 0px;
  left: 16px;
  text-align: justify;
  width: 95%;
}
